.container {
  display: flex;
  flex-direction: row;
}

.postFeed {
  flex: 1;
  margin: 2rem 2rem 2rem 0;
  order: 1;
}

@media only screen and (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .postFeed {
    margin: 2rem 0;
    order: 2;
  }
}