.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container section {
  margin-right: 1rem;
}

.container .controls {
  display: flex;
  flex-direction: row;
}

.controlsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.reactionsContainer {
  display: flex;
  flex-direction: column;
}

.reactionsContainer > section {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.reactionsContainer > section > button {
  width: auto;
  min-width: 48px;
  padding: 8px;
}

.reactionsContainer > section > button:first-child {
  min-width: 48px;
  height: 38px;
  padding: 8px;
  background: transparent;
  border: 2px dashed var(--color-gray);
}

.reactionsContainer > section > button > div {
  margin-left: 0.5rem;
}

.reactionsContainer > section > aside {
  top: 320px;
  margin-top: -320px;
}
