.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container section {
  margin-right: 1rem;
}

.container .controls {
  display: flex;
  flex-direction: row;
}

.reactions {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container section {
    width: 100%;
  }

  .reactions {
    flex-direction: row;
  }
}
